<launch>
  
  <!--
  <node respawn="true" name="joystick" pkg="joy" type="joy_node">
    <param name="dev" type="string" value="/dev/input/js0" />
  </node>

  -->

  <node name="joy_get" pkg="control" type="joy_listener.py">
  </node>

  
  <node name="gui_node" pkg="gui" type="guiTestTest.py">
  </node>

  <!--
  <node name="video" pkg="gui" type="surface_video.py">
  </node>

  <node name="distance_calc" pkg="gui" type="distance_processing.py">
  </node>
  -->
</launch>
